<!--###################################################-->
<!--### Local mode : jQuery3 + Bootstrap5.3 + CodeMirror5 -->
<!--###################################################-->

<!--jquery | axios | bootstrap5 | icons | toastr-->
<script src="${request.contextPath}/statics/libs/jquery/jquery.min.js"></script>
<script src="${request.contextPath}/statics/libs/axios/axios.min.js"></script>
<script src="${request.contextPath}/statics/libs/bootstrap5/js/bootstrap.bundle.min.js"></script>
<link href="${request.contextPath}/statics/libs/bootstrap5/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
<link href="${request.contextPath}/statics/libs/bootstrap-icons/bootstrap-icons.min.css" type="text/css" rel="stylesheet" />
<script src="${request.contextPath}/statics/libs/toastr.js/toastr.min.js"></script>
<link href="${request.contextPath}/statics/libs/toastr.js/toastr.min.css" type="text/css" rel="stylesheet" />

<!-- import codemirror : core + modes(sql/clike/xml/javascript) + themes(idea/material-darker) -->
<script src="${request.contextPath}/statics/libs/codemirror/codemirror.min.js"></script>
<script src="${request.contextPath}/statics/libs/codemirror/mode/sql/sql.min.js"></script>
<script src="${request.contextPath}/statics/libs/codemirror/mode/clike/clike.min.js"></script>
<script src="${request.contextPath}/statics/libs/codemirror/mode/xml/xml.min.js"></script>
<script src="${request.contextPath}/statics/libs/codemirror/mode/javascript/javascript.min.js"></script>
<link href="${request.contextPath}/statics/libs/codemirror/codemirror.min.css" type="text/css" rel="stylesheet" />
<link href="${request.contextPath}/statics/libs/codemirror/theme/idea.min.css" type="text/css" rel="stylesheet" />
<link href="${request.contextPath}/statics/libs/codemirror/theme/material-darker.min.css" type="text/css" rel="stylesheet" />
