<!--###################################################-->
<!--### CDN version : jQuery3 + Bootstrap5.3 + CodeMirror5 -->
<!--###################################################-->

<!--jquery | axios | bootstrap5 | icons | toastr-->
<script src="//cdn.staticfile.net/jquery/3.6.0/jquery.min.js"></script>
<script src="//cdn.staticfile.net/axios/0.26.0/axios.min.js"></script>
<script src="//cdn.staticfile.net/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
<link href="//cdn.staticfile.net/bootstrap/5.3.3/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
<link href="//cdn.staticfile.net/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" type="text/css" rel="stylesheet" />
<script src="//cdn.staticfile.net/toastr.js/2.1.4/toastr.min.js"></script>
<link href="//cdn.staticfile.net/toastr.js/2.1.4/toastr.min.css" type="text/css" rel="stylesheet" />

<!-- import codemirror : core + modes(sql/clike/xml/javascript) + themes(idea/material-darker) -->
<script src="//cdn.staticfile.net/codemirror/5.65.2/codemirror.min.js"></script>
<script src="//cdn.staticfile.net/codemirror/5.65.2/mode/sql/sql.min.js"></script>
<script src="//cdn.staticfile.net/codemirror/5.65.2/mode/clike/clike.min.js"></script>
<script src="//cdn.staticfile.net/codemirror/5.65.2/mode/xml/xml.min.js"></script>
<script src="//cdn.staticfile.net/codemirror/5.65.2/mode/javascript/javascript.min.js"></script>
<link href="//cdn.staticfile.net/codemirror/5.65.2/codemirror.min.css" type="text/css" rel="stylesheet" />
<link href="//cdn.staticfile.net/codemirror/5.65.2/theme/idea.min.css" type="text/css" rel="stylesheet" />
<link href="//cdn.staticfile.net/codemirror/5.65.2/theme/material-darker.min.css" type="text/css" rel="stylesheet" />
