<!--#################-->
<!--### local version-->
<!--#################-->

<!--jquery | vue | element-ui | axios-->
<script src="${request.contextPath}/statics/libs/jquery.min.js"></script>
<script src="${request.contextPath}/statics/libs/vue.min.js"></script>
<script src="${request.contextPath}/statics/plugins/axios/axios.min.js"></script>
<script src="${request.contextPath}/statics/plugins/element-ui/index.min.js"></script>
<link href="${request.contextPath}/statics/plugins/element-ui/theme-chalk/index.min.css" type="text/css" rel="stylesheet" >

<!--common.js-->
<script src="${request.contextPath}/statics/js/common.js"></script>

<!-- Toastr 2 -->
<script src="${request.contextPath}/statics/plugins/toastr/toastr.min.js"></script>
<!-- Toastr CSS -->
<link href="${request.contextPath}/statics/plugins/toastr/toastr.min.css" type="text/css" rel="stylesheet" >

<!-- import codemirror -->
<script src="${request.contextPath}/statics/plugins/codemirror/codemirror.min.js"></script>
<script src="${request.contextPath}/statics/plugins/codemirror/clike.min.js"></script>
<script src="${request.contextPath}/statics/plugins/codemirror/sql.min.js"></script>
<link href="${request.contextPath}/statics/plugins/codemirror/codemirror.min.css" type="text/css" rel="stylesheet" >
<link href="${request.contextPath}/statics/plugins/codemirror/idea.min.css" type="text/css" rel="stylesheet" >

<!-- Admin-LTE主题样式 -->
<link href="${request.contextPath}/statics/plugins/admin-lte/adminlte.min.css" type="text/css" rel="stylesheet" >
