<!--#################-->
<!--### local version-->
<!--#################-->

<!--jquery | vue | element-ui | axios-->
<script src="${request.contextPath}/statics/libs/jquery.min.js"></script>
<script src="${request.contextPath}/statics/libs/vue.min.js"></script>
<script src="${request.contextPath}/statics/plugins/element-ui/index.min.js"></script>
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/element-ui/theme-chalk/index.min.css">
<script src="${request.contextPath}/statics/plugins/axios/axios.min.js"></script>

<script src="${request.contextPath}/statics/js/common.js"></script>
<link rel="stylesheet" href="${request.contextPath}/statics/css/main.css">

<!--[if lt IE 9]>
<script src="${request.contextPath}/statics/plugins/IE/html5shiv.min.js"></script>
<script src="${request.contextPath}/statics/plugins/IE/respond.min.js"></script>
<![endif]-->

<!-- codemirror -->
<script src="${request.contextPath}/statics/plugins/codemirror/codemirror.min.js"></script>
<script src="${request.contextPath}/statics/plugins/codemirror/javascript.min.js"></script>
<script src="${request.contextPath}/statics/plugins/codemirror/clike.min.js"></script>
<script src="${request.contextPath}/statics/plugins/codemirror/sql.min.js"></script>
<script src="${request.contextPath}/statics/plugins/codemirror/xml.min.js"></script>
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/codemirror/codemirror.min.css">
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/codemirror/idea.min.css">

<!-- bootstrap -->
<link rel="stylesheet" href="${request.contextPath}/statics/css/AdminLTE.min.css">
<link rel="stylesheet" href="${request.contextPath}/statics/css/all-skins.min.css">
<link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
<!--<link rel="stylesheet" href="${request.contextPath}/statics/css/font-awesome.min.css">-->
<!--<script src="${request.contextPath}/statics/libs/bootstrap.min.js"></script>-->





<!-- layer -->
<script src="${request.contextPath}/statics/plugins/layer/layer.js"></script>
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/layer/theme/default/layer.css">
<!--<script src="${request.contextPath}/statics/plugins/layer/mobile/layer.js"></script>
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/layer/mobile/layer.css">-->
