<!DOCTYPE html>
<!--
by https://zhengkai.blog.csdn.net
-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>JAVA代码生成平台</title>
  <#include "/header.html">
</head>
<body class="hold-transition layout-top-nav">
<div class="wrapper">

  <!-- 导航栏 -->
  <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
      <a href="#" class="navbar-brand">
        <img src="${request.contextPath}/statics/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">JAVA代码生成平台</span>
      </a>

      <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse order-3" id="navbarCollapse">
        <i class="fa fa-fw fa-space-shuttle"></i><a>For reducing the repetitive CRUD work</a>
      </div>

      <!-- 右侧导航栏链接 -->
      <ul class="order-1 order-md-4 navbar-nav navbar-no-expand ml-auto">
        <li class="nav-item">
          <a href="https://github.com/moshowgame/SpringBootCodeGenerator/issues" target="_blank"><i class="fa fa-fw fa-share-square"></i>Raise Issue</a>
          <a href="https://github.com/moshowgame/SpringBootCodeGenerator" target="_blank"><i class="fa fa-fw fa-star"></i>Github </a>

          
          
          
        </li>
      </ul>
    </div>
  </nav>
  <!-- /.navbar -->

  <!-- Content Wrapper. 包含页面内容 -->
  <div class="content-wrapper">


    <!-- 主体内容 -->
    <div class="content">
      <div class="container">
        <div class="row">

          <!-- /.col-md-6 -->
          <div class="col-lg-12">

            <blockquote class="quote-secondary">
              ${(value.description)!!}
            </blockquote>

            <!-- <div class="card">
              <div class="card-header">
                <h5 class="card-title m-0">输入SQL</h5>
              </div>
              <div class="card-body">
                <textarea id="inputArea" placeholder="请输入表结构信息..." style="height: 250px;line-height : 10px;" v-model="formData.tableSql"></textarea>

              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <h5 class="card-title m-0">生成设置</h5>
              </div>
              <div class="card-body">
                <h6 class="card-title">特殊标题处理</h6>

                <p class="card-text">支持引入其他额外内容。</p>

              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <h5 class="card-title m-0">输出代码</h5>
              </div>
              <div class="card-body">
                <textarea id="outputArea" placeholder="请输入表结构信息..." style="height: 250px;" v-model="outputStr"></textarea>

              </div>
            </div> -->
            <#include "/main-v2.html">
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- 控制侧边栏内容在这里 -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      Version ${(value.version)!!}
    </div>
    <!-- Default to the left -->
    <strong>${(value.copyright)!!} <a href="https://zhengkai.blog.csdn.net" target="_blank"><i class="fa fa-fw fa-thumbs-up"></i>zhengkai.blog.csdn.net</a> <a href="https://github.com/moshowgame/SpringBootCodeGenerator/blob/master/donate.png?raw=true" target="_blank"><i class="fa fa-fw fa-credit-card"></i>打赏</a>
  </footer>
</div>
<!-- ./wrapper -->


</body>
</html>
